@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap");
.leftContainet{
    width:500px;
    display: flex;
    flex-direction: column;
    gap:80px;
    padding: 50px;
    font-family: "Poppins", sans-serif;
}
.heading{
    font-size: 30px;
}

.flex{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.coninfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.coninfo2{
    display: flex;
    gap: 10px;
}
.step2container{
    @media(width>1600px){
    width:1000px;
    margin:0px auto;
    height:600px;
  }
  /* @media(1200px<width<=1500px){
    width:97vw;
    padding: 1px;
  }
  @media(1000px<width<=1200px){
    width:97vw;
    padding: 1px;
  } */
  @media(768px>=width>425px){
    width:1450px;
    margin-left: 3px;
  }
  @media(768px<width<=1000px){
    flex-direction: column;
    width: 1400px;
  }
  @media(426px>=width>320px){
    width:1420px;
    margin-left: 5px;
  }
  @media(width<=320px){
    width:1050px;
    margin-left: 3px;
  }
    
    /* background-color: ghostwhite; */
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 200px; */
}
.step2innercontainer{
    @media(width<=1000px){
        flex-direction: column;
        width:600px;
        height:990px;
        justify-content: center;
    }
    width:1000px;
    height:590px;
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0/8%);
    border: 1px solid var(--text-color-level3,rgba(26,26,26,0.1));
}

.addressOuter{
  display: flex;
  /* flex-direction: column; */
  gap: 30px;
  font-family: "Poppins", sans-serif;
}

.eachaddress{
  display: flex;
  width:250px;
  height:150px;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  gap:20px;
  padding: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 10px;
}
.addressMostOuter{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  align-items: center;
  gap:50px;
}