@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Inter:wght@300&family=Open+Sans:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Inter:wght@300&family=Nunito:ital,wght@1,200&family=Open+Sans:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@media(width>1600px){
  .aboutUsHeroContainer{
    width:1400px;
    margin: auto;
  }
  .blueSection{
    width:1400px;
    margin:auto;
  }
  .TrustedCompaniesSection{
    width:1460px;
    margin: auto;
  }
  .twoboxes{
    width:1400px;
    margin: auto;
  }
  .top3Section{
    width:1400px;
    margin: auto;
  }
  .top3{
    width:1400px;
    margin: auto;
  }
  
}
@media(1024px<width<=1200px){
  .aboutUsHeroContainer{
    width:1200px;
    margin: auto;
  }
  .blueSection{
    width:1350px
  }
  .TrustedCompaniesSection{
    width:1410px;
  }
}
@media(768px<width<=1024px){
  .aboutUsHeroContainer{
    width:1200px;
    margin: auto;
  }
  .blueSection{
    width:1350px
  }
  .TrustedCompaniesSection{
    width:1410px;
  }
}
@media(width<=768px){
  .aboutUsHeroContainer{
    width:1200px;
    margin: auto;
  }
  .blueSection{
    width:1350px
  }
  .TrustedCompaniesSection{
    width:1410px;
  }
  .aboutUsHeroHeading{
    width:600px;
  }
}
@media(width<=320px){
  .aboutUsHeroContainer{
    width:1180px;
    margin: auto;
  }
  .blueSection{
    width:1180px;
  }
  .TrustedCompaniesSection{
    width:1230px;
  }
  .twoboxes{
    width:1230px;
    margin: auto;
  }
  .mainMarginAllSides{
    width: 1000px;
    margin: 0px 0px;
  }
 
}
.twoboxes{
  display: flex; 
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.mainMarginAllSides {
  @media(width<=320px){
    width: 1250px;
    margin: auto;
  }
  @media(width>1600px){
    width: 1400px;
    margin: auto;
  }
  margin: 0 150px;
  width:1200px;
  font-family: 'Abel', sans-serif;
}

.sectionMargin {
  margin: 20px 5px 80px 5px;
  /* border: solid red; */
  font-family: 'Abel', sans-serif;
}

.aboutUsHeroContainer {
  display: flex;
  width: 80vw;
  /* height: 50vh; */
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  font-family: 'Abel', sans-serif;
}

.aboutUsHeroHeading {
  color: #2871ff;
  text-align: center;
  font-family: "Poppins";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 52.5px */
  letter-spacing: 2.8px;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: 'Abel', sans-serif;
}
.aboutUsHeroSubHeading {
  width: 1434px;
  /* height: 108px; */
  flex-shrink: 0;
  color: var(--Gray-900---Main-Text, #181e27);
  text-align: center;
  font-family: "Nunito";
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 90px */
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: 'Abel', sans-serif;
}
.aboutUsHeroPara {
  /* color: #2871ff; */
  text-align: center;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 38.5px */
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Poppins";
}

.aboutUsFounderContainer {
  /* width: 100vw; */
  /* height: 80vh; */
  flex-shrink: 0;
  display: flex;
  /* justify-content: space-around; */
  /* border: solid green; */
  padding: 50px 80px;
}
.aboutUsFounderContainer {
  background-image: url("../../public/AboutPageImages/Background.png");
}
.aboutUsFounderContentContainer {
  width: 30vw;
  /* height: 60vh; */
  /* border: solid green; */
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  background-image: url("../../public/AboutPageImages/Background.png");
  padding: 60px;
  font-family: "Poppins";
  font-size: 18x;
}
.aboutUsFounderImageContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* margin: auto; */
  /* width: 30vw; */
  /* height: 60vh; */
  flex-shrink: 0;
  background: #fff;
  /* border: solid blue; */
}
.aboutUsFounderImage {
  /* border: solid black; */
  display: flex;
  margin: auto;
}
.aboutUsFounderImageCaption {
  /* border: solid black; */
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 30vw;
  text-align: center;
  font-family: "Poppins";
}
.aboutUsFounderImageCaption > p {
  /* border: solid black; */

  margin-block-start: 0;
  margin-block-end: 0;
}
.aboutUsFounderImageTitle {
  color: var(--Gray-600---Secondary-Text, #3c465f);
  text-align: center;
  font-family: Abyssinica SIL;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 37.5px */
  text-align: center;
}
.aboutUsFounderImageContent {
  color: #2871ff;
  text-align: center;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.vettingsteps{
  display: flex;
  gap:10px;
  font-family: 'Abel', sans-serif;
}
.stepsContainer{
  display: flex;
  flex-direction: column;
  gap:50px;
  height:780px;
  justify-content: center;
  /* align-items: center; */
  margin-right: 70px;
}
.stepsContainer2{
  display: flex;
  flex-direction: column;
  gap:40px;
  height:700px;
  justify-content: center;
  /* align-items: center; */
  margin-right: 0px;
  padding:0px 10px 0px 20px;
}
.top3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:1272px;
  font-family: 'Abel', sans-serif;
  padding: 20px;
  gap:20px;
}
.hire{
  width:262px;
  height:51.6px;
  background-color: #2871ff;
  color:#fff;
}
.hire:hover{
  background-color:lightblue;
  color:#2871ff;
}
.apply{
  width:262px;
  height:51.6px;
  border:1px solid #2871ff;
  color:#2871ff;
}
.apply:hover{
  border:2px solid #2871ff;
  color:#fff;
  background-color: #2871ff;
}
.blueSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0F256E;
  color: #fff;
  gap:30px;
  padding:50px;
  font-family: 'Abel', sans-serif;
}
.TrustedCompaniesSection {
 

  /* @media(768px<width<=1024px) {
    width: 1000px;
    gap: 12px;
    margin-left: -50px;
  } */

 
  /* @media(768px<width<=1200px) {
    width: 1200px;
    margin-left: -30px;

  } */

  display: flex;
  border-top: 1px solid #B8B7B7;
  /* margin: 0px 10px; */
  /* padding-top: 30px; */
  padding: 20px;
  gap: 19.5px;
  background-color: #F6F8Fb;
  justify-content: center;
  align-items: center;
}
.top3Section{
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: -60px;
}

.headingdual{
  font-family: 'Abel', sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin:60px 0px 40px 0px;
  text-align: center;
}
.headingdualsub{
  font-family: 'Abel', sans-serif;
  font-size: 30px;
  text-align: center;
}
.firstContainer{
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}
.rightImage{
  font-family: 'Abel', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width:500px;
}
.stepsouterContainer{
  display: flex;
  
}
.stepsmostouterContainer{
  border:1px solid white;
  box-shadow: 0px 0px 12px 0px lightblue;
  border-radius: 20px;
  padding:20px 10px 0px 45px;  
  border:2px solid lightblue;
  height:850px;
  width:600px;
  /* margin-top: 50px; */
}
.imageSection{
  
  border:1px solid white;
  box-shadow: 0px 0px 12px 0px lightblue;
  border-radius: 20px;
  border:2px solid lightblue;
  padding:15px;
  height:850px;
  width:600px;
}